.Home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    
}
.Home-container button{
    font-size: 32px;
    font-weight: bold;
    padding:60px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    background-color: #2BAE66FF;
    color: #fff;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}
.book_image{
    width: 325px;
    height: 325px;
}
.Home-container button:hover{
    /* font-size: 26px; */
    border:3px solid  #2BAE66FF;
    background-color: #fff;
    color: #2BAE66FF;
}
