.footer{

    left:0;
    bottom: 0;
    padding: 20px;
    background-color: #2BAE66FF;
    text-align: center;
    color: #FCF6F5FF;
    height: 45px;
    display: flex;
    justify-content:center;
    align-items: center;
}